.header {
    background-color: black;
    color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  float: right;
}

.btn {
  color: aqua;
}
